<div class="docs-area">
	<h1>Diventare fornitore accreditato</h1>
	<div class="row">
	  <div class="nav flex-column nav-pills col-lg-3 col-md-12 mb-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
	    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Perch&egrave; accreditarsi</a>
	    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Documentazione</a>
	  </div>
	  <div class="tab-content col-lg-8 col-md-12 mb-4" id="v-pills-tabContent">
	    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">Accreditarsi presso il portale garantisci uno snellimento del processo obbligatorio per la trasmissione della documentazione elettronica obbligatoria ai fini della legislazione italiana</div>
	    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
	      <ul>
	        <li><i class="material-icons">attach_file</i><a href="#">Modulo di registrazione ed accreditamento</a></li>
	        <li><i class="material-icons">attach_file</i><a href="#">Normativa n. 27/2016</a></li>
	        <li><i class="material-icons">attach_file</i><a href="#">Modulo A9056 - Accreditamento per privati</a></li>
	        <li><i class="material-icons">attach_file</i><a href="#">Normativa sulla privacy ed il trattamento dei dati personali</a></li>
	      </ul>
	    </div>
	  </div>
	</div>
</div>