/* - - - - - - - - - - - - - - -

COLORI AZIENDALI 

Dark red: #741C1A

Darker red: #2C0100

Dark Gray: #7A7C77

Light Gray: #B0B1AB

- - - - - - - - - - - - - - - */

@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Catamaran');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Rubik');

*
{
	font-family: 'Rubik';
}

body
{
	/* #4d5447 */
	background: url('./assets/images/bg.jpg'), rgba(116, 28, 26, 1);
	background-blend-mode: multiply;
	background-size: cover;
	background-position: left center;
	background-attachment: fixed;
}