/* You can add global styles to this file, and also import other style files */
body
{
	background: #6f8470;
	/* background: url('./assets/images/building.jpg'), #6f8470; */
	background-blend-mode: multiply;
	background-size: cover;
	background-position: center center;
}