.docs-area
{
  color: #fff;
}

.docs-area .accordion
{
  width: 150px;
}

.docs-area ul
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.docs-area h3
{

}

.docs-area ul li a
{
  color: #fff;
}
