<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<app-docs-area></app-docs-area>
		</div>
		<div class="col-lg-4">
			<div class="login-area">
			
			  <form>
			  <div class="title">
			  	<i class="material-icons">lock</i>
			    <h3>Area Login</h3>
			  </div>
			    <div class="form-group">
			      <input [(ngModel)]="vatNum" [ngModelOptions]="{standalone: true}" class="form-control" type="text" placeholder="Immetti partita IVA" required>
			    </div>
			    <div class="form-group">
			      <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" type="password" placeholder="Password" required>
			    </div>
			    <div *ngIf="!isLoggedIn && !firstAttempt" class="alert alert-danger" role="alert" id="loginAlert">
			    	<p>Errore duranta l'autenticazione!<br>Controlla i dati inseriti</p>
			    </div>
			    <div *ngIf="isLoggedIn && !firstAttempt" class="alert alert-success" role="alert">
			    	<p>Autenticazione effettuata con successo!</p>
			    </div>
			    <button type="submit" (click)="checkLogin()" class="btn btn-primary">Accedi</button>
			  </form>
			
			  <ul class="login-tips">
			    <li><a routerLink="/registration">Registrazione come fornitore accreditato</a></li>
			    <li><a href="#">Recupero credenziali di accesso</a></li>
			  </ul>
			  
			</div>
		</div>
	</div>
</div>

<app-footer></app-footer>
	





