<div class="container">
	<h1>Accreditamento fornitore</h1>

	<small>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Duis in egestas augue. Mauris eget orci tempor, volutpat dolor eget,
		pretium nisl. Vestibulum vitae metus non mauris ultrices luctus vitae
		a risus. Phasellus eget dignissim eros. Vivamus tempus maximus erat
		sed ultricies. Curabitur est ante, porta maximus placerat eu,
		porttitor id orci. Maecenas sit amet auctor arcu. Etiam porttitor
		porta ornare. Nullam sollicitudin eget est ac tempor. Aenean sit amet
		sollicitudin odio. Vivamus nunc ligula, efficitur vitae maximus eu,
		viverra non augue. In justo purus, blandit vitae magna a, dictum
		pharetra orci. Curabitur gravida leo ac ex interdum accumsan. Proin a
		odio nisl. Morbi scelerisque libero vel arcu aliquam sagittis.
	</small>

	<div class="alert alert-warning" role="alert">
		Compilando il questionario acconsentite al trattamento dei dati personali
		(Codice in materia di protezione dei dati personali- art. 13 D. Lgs. 196/2003)
	</div>
	
	<form class="form-area" #form="ngForm" (ngSubmit)="submit($event)">
	
		<h4 class="title">Anagrafica fornitore</h4>
		
		<div class="row">
			<div class="form-group col-lg-6 col-md-6">
				<label for="ragioneSociale">Ragione / Denominazione sociale *</label>
				<input 
					ngModel 
					name="ragioneSociale" 
					#ragioneSociale="ngModel"
					type="text" 
					class="form-control" 
					id="ragioneSociale"
					(change)="log(ragioneSociale)" 
					required >
					
					<i class="material-icons">account_box</i>
					
				<div class="alert alert-danger"
					*ngIf="ragioneSociale.touched && !ragioneSociale.valid">
					Il campo "Ragione / Denominazione sociale" &egrave; obbligatorio
				</div>
			</div>
		</div>
		
		<!-- SEDI FORNITORE -->
		
		<div class="row">
			<div class="form-group col-lg-6 col-md-6">
				<label for="indirizzo">
					Indirizzo sede legale <small>(via, numero civico, cap, citt&agrave;, prov.)</small> *
				</label>
				<input 
					ngModel 
					name="indirizzo"
					#indirizzo="ngModel" 
					type="text" 
					class="form-control"
					id="indirizzo" 
					(change)="log(indirizzo)"
					[ngClass]="{'valid': indirizzo.valid}" 
					required >
					
					<i class="material-icons">business</i>
					
				<div class="alert alert-danger"
					*ngIf="indirizzo.touched && !indirizzo.valid">
					Il campo "Indirizzo sede legale" &egrave; un campo obbligatorio
				</div>
				
			</div>
			<div class="form-group col-lg-6 col-md-6">
				<label for="indirizzoOperativo">
					Indirizzo sede operativa <small>(via, numero civico, cap, citt&agrave;, prov.)</small> *
				</label>
				<input 
					ngModel 
					name="indirizzoOperativo"
					#indirizzoOperativo="ngModel" 
					type="text" class="form-control"
					id="indirizzoOperativo" 
					(change)="log(indirizzoOperativo)"
					[ngClass]="{'valid': indirizzoOperativo.valid}" 
					required >
					
					<i class="material-icons">location_on</i>
					
				<div class="alert alert-danger"
					*ngIf="indirizzoOperativo.touched && !indirizzoOperativo.valid">
					Il campo "Indirizzo sede operativa" &egrave; un campo obbligatorio
				</div>
				
			</div>
		</div>
		
		<!-- DATI FISCALI -->
		
		<div class="row">
		
			<div class="form-group col-lg-4 col-md-4">
			
				<label for="telefono">Data inizio attivit&agrave; *</label>
				<input 
					ngModel 
					name="dataIA"
					#dataIA="ngModel" 
					type="date" 
					class="form-control"
					id="dataIA" 
					(change)="log(dataIA)" 
					required >
				
					<i class="material-icons">date_range</i>
					
				<div class="alert alert-danger"
					*ngIf="dataIA.touched && !dataIA.valid">
					Il campo "Telefono" &egrave; obbligatorio
				</div>
				
			</div>
			
			<div class="form-group col-lg-4 col-md-4">
				<label for="fax">Codice fiscale *</label>
				<input 
					ngModel 
					name="cf"
					#cf="ngModel" 
					type="text" 
					class="form-control"
					id="cf"
					minlength="16"
					(change)="log(cf)" 
					required >
				
					<i class="material-icons"><!--  --></i>
					
				<div class="alert alert-danger"
					*ngIf="cf.touched && !cf.valid">
					Il campo <span class="campo">Codice fiscale"</span> <br>- &egrave; obbligatorio<br>
					<div *ngIf="cf.errors.minlength">
						- deve contenere almeno {{cf.errors.minlength.requiredLength}} caratteri!
					</div>
				</div>
				
			</div>
			
			<div class="form-group col-lg-4 col-md-4">
			
				<label for="email">Partita IVA *</label>
				<input
					ngModel 
					name="vatNum"
					#vatNum="ngModel" 
					type="text" 
					class="form-control"
					id="vatNum" 
					(change)="log(vatNum)" 
					required >
					
					<i class="material-icons"><!--  --></i>
					
				<div class="alert alert-danger"
					*ngIf="vatNum.touched && !vatNum.valid">
					Il campo <span class="campo">"Partita IVA"</span> &egrave; obbligatorio
				</div>
					
			</div>
		</div>
		<!-- CONTATTI -->
		
		<h4 class="title">Contatti</h4>
		
		<div class="row">
		
			<div class="form-group col-lg-4 col-md-4">
			
				<label for="telefono">Telefono *</label>
				<input 
					ngModel 
					name="telefono"
					#telefono="ngModel" 
					type="text" 
					class="form-control"
					id="telefono" 
					(change)="log(telefono)" 
					required >
				
					<i class="material-icons">phone</i>
					
				<div class="alert alert-danger"
					*ngIf="telefono.touched && !telefono.valid">
					Il campo "Telefono" &egrave; obbligatorio
				</div>
				
			</div>
			
			<div class="form-group col-lg-4 col-md-4">
				<label for="fax">Fax *</label>
				<input 
					ngModel 
					name="fax"
					#fax="ngModel" 
					type="text" 
					class="form-control"
					id="fax" 
					(change)="log(fax)" 
					required >
				
					<i class="material-icons">local_printshop</i>
					
				<div class="alert alert-danger"
					*ngIf="fax.touched && !fax.valid">
					Il campo "Fax" &egrave; obbligatorio
				</div>
				
			</div>
			
			<div class="form-group col-lg-4 col-md-4">
			
				<label for="email">Email *</label>
				<input
					ngModel 
					name="email"
					#email="ngModel" 
					type="email" 
					class="form-control"
					id="email" 
					(change)="log(email)" 
					required 
					pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" >
					
					<i class="material-icons">email</i>
					
				<div class="alert alert-danger"
					*ngIf="email.touched && email.errors.required">
					Il campo "Email" &egrave; obbligatorio
				</div>
				
				<div class="alert alert-danger"
					*ngIf="email.touched && email.errors.pattern">
					Valori non consentiti per il campo "Email"
				</div>
			</div>
		</div>
		
		<div class="row userChoice">
		
			<div class="form-check form-check-inline">
			
			  <label class="form-check-label" for="freelance">Libero professionista</label>
			  
			  <input 
			  	class="form-check-input" 
			  	type="radio" 
			  	name="freelance" 
			  	id="freelance" 
			  	value="freelance"
			  	#freelance
			  	(click)="set(freelance, society)" checked>
			</div>
			
			<div class="form-check form-check-inline">
			
			  <label class="form-check-label" for="azienda">Societ&agrave;</label>
			  
			  <input 
			  	class="form-check-input" 
			  	type="radio" 
			  	name="azienda" 
			  	id="azienda" 
			  	value="azienda"
			  	#society
			  	(click)="set(society, freelance)">
			</div>
			
		</div>
		
		<div *ngIf="freelance.checked">Freelance c'&egrave;</div>
		<div *ngIf="society.checked">Societ&agrave; c'&egrave;</div>
		
		<!-- FILES UPLOAD 
		
		<div class="row">
		
		  <div class="form-group">
		  
		    <label for="files">Example file input</label>
		    <input 
		    	type="file" 
		    	name="file"
		    	class="form-control-file" 
		    	id="files"
		    	multiple="multiple"
		    	required >
		  </div>
		</div>
		-->
		
		<button [disabled]="form.form.invalid" class="btn btn-primary">Invia</button>
		
	</form>
</div>
