.container
{
	line-height: 1;
	margin-top: 60px;
}

.container small
{
	color: rgba(255,255,255,.8);
}

.container h1
{
	margin-bottom: 20px;
	text-align: center;
	color: #fff;
	filter: drop-shadow(0 0 10px rgba(0,0,0,.7));
}

.alert-warning
{
	text-align: center;
	margin-top: 40px;
	font-size: .9em;
	filter: drop-shadow(0 0 6px rgba(0,0,0,.8));
}

.campo
{
	font-weight: bold;
}

.alert-danger
{
	line-height: 1.4;
	margin-top: 20px;
}

.row
{
	margin-bottom: 40px;
}

.form-area {
	color: #fff;
	margin-top: 60px;
}

.form-area .title
{
	color: #333;
	text-align: center;
	border-top: 5px solid rgba(151, 56, 54,1);
	border-radius: 0px 0px 4px 4px;
	/* background-color: #B0B1AB; */
	background-color: #eee;
	padding: 10px 20px;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 60px;
	filter: drop-shadow(0 0 6px rgba(0,0,0,.8));
}

.form-check-label {
	margin-right: 10px;
}

.form-group
{
	position: relative;
}

.form-group input[type=text],
.form-group input[type=email],
.form-group input[type=date]
{
	font-family: 'Quicksand';
	font-weight: 300;
	font-size: 1.6em;
	padding: 10px;
	padding-left: 60px;
}

.form-group [class=material-icons]
{
	position: absolute;
	left: 10px;
	top: 15px;
	padding: 20px;
	font-size: 2.3em;
	transition: all .2s ease-in-out;
	transform-origin: center;
	color: rgba(255,255,255,.5);
}

.form-group input:focus + [class=material-icons],
.form-group .ng-dirty + [class=material-icons]
{
	left: -5px;
	color: rgba(255,255,255,1);
}

.form-group input[type=text]:focus, .form-group .ng-dirty
{
	border-color: rgba(255,255,255,1);
}
	
[class*=form-control]
{
	color: #fff;
	background: transparent;
	border: none;
	border-radius: 0;
	border-bottom: 2px solid rgba(255,255,255,.5);
	transition: all .2s ease-in-out;
}

[class*=form-control]:focus
{
	box-shadow: none;
}

.btn-primary
{
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30%;
	padding: 10px 30px;
	color: #fff;
	background-color: #741C1A;
	cursor: pointer;
	border: none;
	margin-top: 50px;
}

.btn-primary:hover
{
	background-color: #2C0100;
}

.btn-primary[disabled]
{
	padding: 10px 30px;
	color: #fff;
	background-color: #B0B1AB;
	cursor: not-allowed;
	border: none;
}

.valid
{
	color: rgba(92,210,50,1);
}

.form-area .userChoice
{
	color: #333;
	display: flex;
	justify-content: space-around;
	border-top: 5px solid rgba(151, 56, 54,1);
	border-radius: 0;
	/* background-color: #B0B1AB; */
	background-color: #eee;
	padding: 2% 6%;
	width: 70%;
	margin: 0 auto;
	/* filter: drop-shadow(0 0 6px rgba(0,0,0,.8)); */
}

.form-area .docsArea
{
	color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 0 0 4px 4px;
	border-top: 1px solid rgba(151, 56, 54,1);
	/* background-color: #B0B1AB; */
	background-color: #eee;
	padding: 2% 6%;
	width: 70%;
	margin: 0 auto;
	margin-bottom: 60px;
	/* filter: drop-shadow(0 0 6px rgba(0,0,0,.8)); */
}

.form-area .docsArea .row
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 5px;
}

.form-area .docsArea p
{
	margin: 0;
	padding: 0;
}

.form-area .docsArea .custom-file
{
	width: 70%;
}

@media screen and (max-width:600px)
{
	.form-area .title
	{
		width: 50%;
		font-size: 1em;
	}
}