<div class="container form-area">
	<h1>Accreditamento fornitore</h1>
	<p>Compilando il Questionario acconsentite al trattamento dei dati
		personali (Codice in materia di protezione dei dati personali- art. 13
		D. Lgs. 196/2003)</p>
	<form>
		<div class="form-group">
			<label for="ragioneSociale">Ragione / Denominazione sociale</label>
			<input
				ngModel name="ragioneSociale" #ragioneSociale="ngModel" (change)="log(ragioneSociale)"
				type="text" class="form-control" id="ragioneSociale" required>
		</div>
		<div class="alert alert-danger" *ngIf="ragioneSociale.touched && !ragioneSociale.valid">Nome è richiesto</div>
		<div class="form-check form-check-inline">
			<label class="form-check-label" for="form_label_1">Liberi
				professionisti</label> <input class="form-check-input" type="radio"
				name="inlineRadioOptions" id="form_label_1" value="option1">
		</div>
		<div class="form-check form-check-inline">
			<label class="form-check-label" for="form_label_2">Società</label> <input
				class="form-check-input" type="radio" name="inlineRadioOptions"
				id="form_label_2" value="option2">
		</div>
	</form>
</div>
